body {
  background-color: whitesmoke;
}
.board {
  background-color: rgba(0, 0, 0, 0.7);
  color: mediumspringgreen;
  text-shadow: 0px 0px 5px mediumspringgreen;
  border-radius: 10px;
  min-height: 150px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
}
#test {
  background-color: rgb(163, 163, 163);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
  padding: 20px;
  max-width: 400px;
}
.calculatorSetting {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
  max-width: 400px;
  margin: auto;
  margin-top: 200px;
  min-height: 200px;
}
